{% extends 'base.html.twig' %}


{% block title %}
    {{ 'title_question_details'|trans({'%id%': question.id|default('')}) }}
{% endblock %}
{% block body %}
    <h1>{{ 'title_view_record'|trans({'%id%': question.id|default('')}) }}</h1>
    {% if question is defined and question|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ question.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ question.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  question.title }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{  question.text }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ question.category.title }}</dd>
            <dt>{{ 'label_tag'|trans }}</dt>
            <dd>
                {% for tag in question.getTag() %}
                    {{ tag.title }}
                {% endfor %}
            </dd>

        </dl>
      <div class="answer">

          <h3>{{ 'title_answer'|trans }}</h3>

          <table class="table">
              <thead class="thead-light">
              <tr>
                  <th>{{ 'favourite_answer'|trans  }}</th>
              </tr>
              </thead>
              <tbody>
              {% for answer in question.answers %}
                  {% if answer.favourite == 1 %}
                     <tr>
                         <td>{{ answer.text }}</td>
                     </tr>
                  {% endif %}
              {% endfor %}
              </tbody>
          </table>
                   <a class="btn btn-primary" href={{ url('add_answer', {"id": question.id})}} >Dodaj odpowiedz</a>
          <table class="table table-hover">
              <thead>
              <tr>
                  <th>{{  'label_name'|trans  }}</th>
                  <th>{{ 'label_email'|trans}}</th>
                  <th>{{ 'label_content'|trans}}</th>
                  <th>{{ 'label_actions'|trans }}</th>
              </tr>
              </thead>
              <tbody>
              {% for answer in question.answers %}
                  <tr>
                      <td>{{ answer.name }}</td>
                      <td>{{ answer.email }}</td>
                      <td>{{ answer.text }}</td>

                      <td>
                          {% if is_granted("ROLE_ADMIN") or is_granted("DELETE", answer) %}
                              <a class="btn btn-outline-danger float-right" href={{ url('answer_delete', {"id": answer.id}) }}>Usuń</a>
                              <a class="btn btn-outline-dark float-right" href={{ url('answer_edit', {"id": answer.id}) }}>Dodaj do ulubionych</a>
                          {% endif %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>

        <p>
            <a href="{{ url('Question_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message_record_not_found'|trans
        } %}
    {% endif %}
{% endblock %}