{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user_index'|trans }}
{% endblock %}

{% block body %}
    <h1 class = "text-center">{{ app.user.email }}</h1>
    <br>
    <div class="options text-center">
        <a href="{{ url('user_password', {id: user.id}) }}" class="btn btn-primary" role="button" title="{{ 'action.changePassword'|trans }}">
            {{ 'action.changePassword'|trans }}
        </a>
    </div>
{% endblock %}